#toast {
    position: fixed;
    z-index: 1;
    right: 2.5%;
    top: 15%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
    max-width: 310px;
    width: 310px;
    opacity: 1;
    padding: 0.5em;
    height: 80px;
}

.fondocolor {
    background: rgb(22, 170, 231);
    background: linear-gradient(162deg, rgba(22, 170, 231, 0) 3%, rgba(9, 175, 243, 1) 30%, rgba(45, 81, 192, 0.5494572829131652) 100%);
}

.txtblanco {
    color: whitesmoke
}

table,
th,
td {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

@media (min-width: 1200px) {
    .container {
        max-width: 720px !important;
    }
}

.rojo {
    color: red;
    font-size: 1.2em;
}

.asterisco {
    position: absolute;
    font-size: 3em;
    margin: -8px -5px 5px 5px;
}

.img {
    width: 30%;
    text-align: center;
    margin: -5% 50px 30px auto;
}

.centrar {
    justify-content: center !important;
}

.logoutpower {
    border-left-style: groove;
    text-decoration: none !important;
    padding-left: 0.5em;
    color: black;
}

.Fonttabla {
    font-size: 12px;
}

.mensajealerta {
    font-size: 80%;
    color: #dc3545;
}

.ajusteTexto {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 900px) {

    .table-responsiveF {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}