<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title"></h3>
            <button
              type="button"
              class="btn btn-success btn-xs"
              style="width: 100%"
              v-on:click="openmodalcrear()"
            >
              CREAR
            </button>
          </div>
        </div>
        <div class="card-body">
          <table
            id="example"
            class="table table-striped table-bordered table-responsiveF"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th style="width: 5%">#</th>
                <th style="width: 10%">Solicitud</th>
                <th style="width: 20%">Solicitante</th>
                <th style="width: 40%">Nombre HC</th>
                <th style="width: 10%">Estado</th>
                <th style="width: 6%">Opc.</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in tablaregistrohc" :key="item.id">
                <td>{{ index+1 }}</td>
                <td>{{ item.fechasolicitud }}</td>
                <td>{{ item.solicitante }}</td>
                <td>
                  <p class="ajusteTexto">{{ item.nombrehc }}</p>
                </td>
                <td>{{ item.estado }}</td>
                <td v-if="item.fechasolicitud">
                  <button
                    class="btn btn-warning btn-xs"
                    title="Editar Tema"
                    v-on:click="editar(item.id,index)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-xs"
                    title="Eliminar Tema"
                    v-on:click="eliminar(item.id, index)"
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Fecha Solicitud</th>
                <th>Solicitante</th>
                <th>Nombre HC</th>
                <th>Estado</th>
                <th>Opc.</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-xl">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <!-- <div class="overlay d-flex justify-content-center align-items-center" id="modal-cargando">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div> -->
          <div class="modal-header">
            <h4 class="modal-title">CR/AC HISTORIA CLÍNICA</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4 col-md-2">
                <label>Fecha Solicitud:</label>
                <input
                  type="date"
                  v-model="crearregistrohc.fechasolicitud"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.fechasolicitud"
                >
                  {{ errors.fechasolicitud[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Hora Solicitud:</label>
                <input
                  type="time"
                  v-model="crearregistrohc.horasolicitud"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.horasolicitud"
                >
                  {{ errors.horasolicitud[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Evaluación:</label>
                <select
                  class="form-control"
                  v-model="crearregistrohc.evaluacion"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.evaluacion">
                  {{ errors.evaluacion[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Estado:</label>
                <select
                  class="form-control"
                  v-model="crearregistrohc.estado"
                >
                  <option value="1">Cumplido</option>
                  <option value="3">No es Viable</option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.estado">
                  {{ errors.estado[0] }}
                </div>
              </div>
            </div>
            <!--col raiz-->
            <div class="row">
              <div class="col-md-3">
                <label>Subgerencia Solicitante:</label>
                <select
                  v-model="crearregistrohc.id_subgerenciasolicitante"
                  class="form-control"
                >
                  <option
                    v-for="listsubgerencia in listsubgerencias"
                    :key="listsubgerencia.id"
                    v-bind:value="listsubgerencia.id"
                  >
                    {{ listsubgerencia.nombre_subgerencia }}
                  </option>
                </select>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.id_subgerenciasolicitante"
                >
                  {{errors.id_subgerenciasolicitante[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Servicio Solicitante:</label>
                <select
                  v-model="crearregistrohc.id_serviciosolicitante"
                  class="form-control"
                >
                  <option
                    v-for="listservicio in listservicios"
                    :key="listservicio.id"
                    v-bind:value="listservicio.id"
                  >
                    {{listservicio.nombre_serviciosolicitante}}
                  </option>
                </select>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.id_serviciosolicitante"
                >
                  {{ errors.id_serviciosolicitante[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Solicitado por:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="crearregistrohc.solicitante"
                />
                <div class="mensajealerta" v-if="errors && errors.solicitante">
                  {{ errors.solicitante[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Cargo solicitante:</label>
                <select
                  v-model="crearregistrohc.id_cargosolicitante"
                  class="form-control"
                >
                  <option
                    v-for="listcargo in listcargos"
                    :key="listcargo.id"
                    v-bind:value="listcargo.id"
                  >
                    {{ listcargo.nombre_cargohcsolicitante }}
                  </option>
                </select>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.id_cargosolicitante"
                >
                  {{ errors.id_cargosolicitante[0] }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <label>Novedad:</label>
                <select class="form-control" v-model="crearregistrohc.novedad">
                  <option value="CR">CR</option>
                  <option value="AC">AC</option>
                  <option value="I">I</option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.novedad">
                  {{ errors.novedad[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Codigo DGH:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="crearregistrohc.codigohc"
                />
                <div class="mensajealerta" v-if="errors && errors.codigohc">
                  {{ errors.codigohc[0] }}
                </div>
              </div>
              <div class="col-md-5">
                <label>Nombre HC DGH:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="crearregistrohc.nombrehc"
                />
                <div class="mensajealerta" v-if="errors && errors.nombrehc">
                  {{ errors.nombrehc[0] }}
                </div>
              </div>
              <div class="col-sm-4 col-md-2">
                <label>Fecha Entrega:</label>
                <input
                  type="date"
                  v-model="crearregistrohc.fechaentrega"
                  class="form-control"
                />
                <div class="mensajealerta" v-if="errors && errors.fechaentrega">
                  {{ errors.fechaentrega[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Hora Entrega:</label>
                <input
                  type="time"
                  v-model="crearregistrohc.horaentrega"
                  class="form-control"
                />
                <div class="mensajealerta" v-if="errors && errors.horaentrega">
                  {{ errors.horaentrega[0] }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Criterios No Cumplidos:</label>
                <textarea
                  class="form-control"
                  v-model="crearregistrohc.criteriosnocumplidos"
                  cols="60"
                  rows="4"
                ></textarea>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.criteriosnocumplidos"
                >
                  {{ errors.criteriosnocumplidos[0] }}
                </div>
              </div>
              <div class="col-md-6">
                <label>Criterios Cumplidos:</label>
                <textarea
                  class="form-control"
                  v-model="crearregistrohc.criterioscumplidos"
                  cols="60"
                  rows="4"
                ></textarea>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.criterioscumplidos"
                >
                  {{ errors.criterioscumplidos[0] }}
                </div>
              </div>
            </div>
            <!-- 4 row -->
          </div>
          <div class="modal-footer justify-content-between">
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Salir
              </button>
              <button
                type="button"
                v-on:click="createRegistroHc()"
                class="btn btn-primary"
                id="btn-guardar"
                style="display: none"
              >
                Guardar
              </button>
              <button
                type="button"
                v-on:click="update(crearregistrohc.id)"
                class="btn btn-primary"
                id="btn-update"
                style="display: none"
              >
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script defer>
import datatables from "datatables.net";
export default {
  data() {
    return {
      indice:'',
      tablaregistrohc: [],
      listcargos: [],
      listsubgerencias: [],
      listservicios: [],
      servicios: [],
      crearregistrohc: {
        fechasolicitud: "",
        horasolicitud: "",
        id_subgerenciasolicitante: "",
        id_serviciosolicitante: "",
        solicitante: "",
        id_cargosolicitante: "",
        novedad: "",
        codigohc: "",
        nombrehc: "",
        fechaentrega: "",
        horaentrega: "",
        criteriosnocumplidos: "",
        criterioscumplidos: "",
        evaluacion: "",
        estado: "",
      },
      errors: {},
    };
  },
  mounted() {
    this.registroshctable();
  },
  methods: {
    registroshctable() {
      axios
        .get("registroshctable")
        .then((response) => {
          this.tablaregistrohc = response.data;
          this.tabla();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    tabla() {
      $(function () {
        $("#example").DataTable();
      });
    },
    getcargoshc() {
      axios.get("getcargoshc").then((response) => {
        this.listcargos = response.data;
      });
    },
    getsubgerencias() {
      axios.get("getsubgerencias").then((response) => {
        this.listsubgerencias = response.data;
      });
    },
    getservicios() {
      axios.get("getservicios").then((response) => {
        this.listservicios = response.data;
      });
    },
    openmodalcrear() {
      $("#btn-guardar").show();
      $("#btn-update").hide();
      $("#modal-xl").modal();
      this.getcargoshc();
      this.getsubgerencias();
      this.getservicios();
      let yourDate = new Date();
      yourDate = yourDate.toISOString().split("T")[0];
      this.crearregistrohc.fechaentrega = yourDate;
      this.limpiar();
    },
    createRegistroHc() {
      $("#btn-guardar").html("Guardando...");
      $("#btn-guardar").css("background", "orange");
      axios
        .post("createRegistroHc", this.crearregistrohc)
        .then((response) => {
          console.log(response.data);
          //this.tablaregistrohc.push(response.data);
          this.tablaregistrohc.unshift(response.data);
          $("#btn-guardar").html("Guardar");
          $("#btn-guardar").css("background", "#0069d9");
          //this.actividadescreadas();
          $("#modal-xl").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          $("#btn-update").hide();
          //this.limpiar();
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "success",
            title: "Tema creado",
          });
        })
        .catch((error) => {
          if (error.response.status == 422) {
            $("#btn-guardar").html("Guardar");
            $("#btn-guardar").css("background", "#0069d9");
            this.errors = error.response.data.errors;
            const Toast = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });
            Toast.fire({
              icon: "warning",
              title: "Existe campos sin diligenciar",
            });
          } else {
            if (error == 419) {
              location.reload();
            } else {
              alertaerror();
            }
          }
        });
    },
    editar(id,index) {
      console.log(index);
      axios
        .get("editarregistrohc/" + id)
        .then((response) => {
          this.indice = index;
          this.getcargoshc();
          this.getsubgerencias();
          this.getservicios();
          this.crearregistrohc = response.data;
          $("#btn-guardar").hide();
          $("#btn-update").show();
          $("#modal-xl").modal();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    update(id) {    
      $("#btn-update").html("Actualizando...");
      $("#btn-update").css("background", "orange");
      axios
        .post("updateregistrohc/" + id, this.crearregistrohc)
        .then((response) => {
          console.log(response.data);
          //this.tablaregistrohc.push(response.data);
          this.tablaregistrohc[this.indice].solicitante = response.data.solicitante;
          this.tablaregistrohc[this.indice].fechasolicitud = response.data.fechasolicitud;
          this.tablaregistrohc[this.indice].nombrehc = response.data.nombrehc;
          this.tablaregistrohc[this.indice].estado = response.data.estado;          
          $("#modal-xl").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          $("#btn-update").html("Actualizar");
          $("#btn-update").css("background", "#0069d9");
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "warning",
            title: "Tema Actualizado",
          });
        })
        .catch((error) => {
          $("#btn-update").html("Actualizar");
          $("#btn-update").css("background", "#0069d9");
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    eliminar(id,index) {
      this.indice = index;      
      Swal.fire({
        title: "Esta segur@?",
        text: "Se va eliminar el registro",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .get("eliminarregistrohc/" + id)
            .then((response) => {
              if ((response.data = 1)) {
                
              }
            })
            .catch((error) => {
              if (error == 419) {
                location.reload();
              } else {
                alertaerror();
              }
            });
          this.tablaregistrohc.splice(index,1);
          Swal.fire("Eliminado!", "El tema fué eliminado.", "success");
        }
      });
    },
    limpiar() {
      this.crearregistrohc.fechasolicitud = "";
      this.crearregistrohc.horasolicitud = "";
      this.crearregistrohc.id_subgerenciasolicitante = "";
      this.crearregistrohc.id_serviciosolicitante = "";
      this.crearregistrohc.solicitante = "";
      this.crearregistrohc.id_cargosolicitante = "";
      this.crearregistrohc.novedad = "";
      this.crearregistrohc.codigohc = "";
      this.crearregistrohc.nombrehc = "";
      this.crearregistrohc.horaentrega = "";
      this.crearregistrohc.criteriosnocumplidos = "";
      this.crearregistrohc.criterioscumplidos = "";
      this.crearregistrohc.evaluacion = "";
    },
  },
};
</script>