<template>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cargo:</label>
            <!-- <div class="col-sm-10">
              <p class="form-control" v-text="cargoasignado"></p>
            </div> -->
            <div class="col-sm-10 input-group">
              <p class="form-control" v-text="cargoasignado"></p>
              <span class="input-group-append">
                <button
                  type="button"
                  class="btn btn-info btn-flat"
                  v-if="cargoasignado"
                  v-on:click="editarcargo()"
                  style="border-top-right-radius: 0.5em 0.5em"
                >
                  Editar!
                </button>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <button
            class="btn btn-warning "
            v-if="cargoasignado != 'NULL'"
            v-on:click="editarcargo()"
          >
            Editar
          </button>
        </div> -->
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title"></h3>
            <button
              type="button"
              class="btn btn-success btn-xs"
              style="width: 100%"
              v-on:click="openmodalcrear()"
            >
              CREAR
            </button>
          </div>
        </div>
        <div class="card-body">
          <table
            id="example"
            class="table table-striped table-bordered table-responsiveF"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th style="width:5%">#</th>
                <th style="width: 10%">Fecha Solicitud</th>
                <th style="width: 20%">Solicitante</th>
                <th style="width: 40%">Actividad</th>
                <th style="width: 10%">Estado</th>
                <th style="width: 6%">Opc.</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in tablactividades" :key="item.id">
                <td>{{ index+1 }}</td>
                <td>{{ item.fecha_solicitud }}</td>
                <td>{{ item.solicitante }}</td>
                <td>
                  <p class="ajusteTexto">{{ item.actividadsolicitada }}</p>
                </td>
                <td>
                  <span v-if="item.estadoactividad == '1'">Realizado</span>
                  <span v-else-if="item.estadoactividad == '2'">Pendiente</span>
                  <span v-else-if="item.estadoactividad == '3'">Seguimiento</span>
                </td>
                <td v-if="item.fecha_solicitud">
                  <button
                    class="btn btn-warning btn-xs"
                    title="Editar Tema"
                    v-on:click="editar(item.id,index)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-xs"
                    title="Eliminar Tema"
                    v-on:click="eliminar(item.id,index)"
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Fecha Solicitud</th>
                <th>Solicitante</th>
                <th>Actividad</th>
                <th>Estado</th>
                <th>Opc.</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-xl">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">CREAR ACTIVIDAD</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3">
                <label>Tipo Actividad:</label>
                <select v-model="crearactividad.id_tipos" class="form-control">
                  <option
                    v-for="tipo in tipoactividad"
                    :key="tipo.id"
                    v-bind:value="tipo.id"
                  >
                    {{ tipo.nombre_tipos }}
                  </option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.id_tipos">
                  {{ errors.id_tipos[0] }}
                </div>
              </div>
              <div class="col-sm-4 col-md-2">
                <label>Fecha Solicitud:</label>
                <input
                  type="date"
                  v-model="crearactividad.fecha_solicitud"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.fecha_solicitud"
                >
                  {{ errors.fecha_solicitud[0] }}
                </div>
              </div>
              <div class="col-sm-4 col-md-2">
                <label>Fecha Atención:</label>
                <input
                  type="date"
                  v-model="crearactividad.fecha_atencion"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.fecha_atencion"
                >
                  {{ errors.fecha_atencion[0] }}
                </div>
              </div>              
              <div class="col-md-2">
                <label>Fecha Fin Actividad:</label>
                <input
                  type="date"
                  v-model="crearactividad.fecha_finalactividad"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.fecha_finalactividad"
                >
                  {{ errors.fecha_finalactividad[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Estado actividad:</label>
                <select
                  class="form-control"
                  v-model="crearactividad.estadoactividad"
                >
                  <option value="1">Realizado</option>
                  <option value="2">Pendiente</option>
                  <option value="3">Seguimiento</option>
                </select>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.estadoactividad"
                >
                  {{ errors.estadoactividad[0] }}
                </div>
              </div>
            </div>
            <!--col raiz-->
            <div class="row">
              <div class="col-md-2">
                <label>Hora Inicio:</label>
                <input
                  type="time"
                  v-model="crearactividad.hora_atencion"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.hora_atencion"
                >
                  {{ errors.hora_atencion[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Solicitado por:</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="crearactividad.solicitante"
                />
                <div class="mensajealerta" v-if="errors && errors.solicitante">
                  {{ errors.solicitante[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Medio Solicitud:</label>
                <select
                  v-model="crearactividad.id_mediosolicitud"
                  class="form-control"
                >
                  <option
                    v-for="medio in mediosolicitud"
                    :key="medio.id"
                    v-bind:value="medio.id"
                  >
                    {{ medio.nombre_mediosolicitud }}
                  </option>
                </select>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.id_mediosolicitud"
                >
                  {{ errors.id_mediosolicitud[0] }}
                </div>
              </div>
              <div class="col-md-3">
                <label>Lugar:</label>
                <select
                  v-model="crearactividad.id_lugares"
                  class="form-control"
                >
                  <option
                    v-for="lugar in lugares"
                    :key="lugar.id"
                    v-bind:value="lugar.id"
                  >
                    {{ lugar.nombre_lugar }}
                  </option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.id_lugares">
                  {{ errors.id_lugares[0] }}
                </div>
              </div>              
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Servicio:</label>
                <select
                  v-model="crearactividad.id_servicios"
                  class="form-control"
                >
                  <option
                    v-for="servicio in servicios"
                    :key="servicio.id"
                    v-bind:value="servicio.id"
                  >
                    {{ servicio.nombre_servicio }}
                  </option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.id_servicios">
                  {{ errors.id_servicios[0] }}
                </div>
              </div>              
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Actividad Solicitada:</label>
                <textarea
                  class="form-control"
                  v-model="crearactividad.actividadsolicitada"
                  cols="60"
                  rows="4"
                ></textarea>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.actividadsolicitada"
                >
                  {{ errors.actividadsolicitada[0] }}
                </div>
              </div>
              <div class="col-md-6">
                <label>Actividad Realizada:</label>
                <textarea
                  class="form-control"
                  v-model="crearactividad.actividadrealizada"
                  cols="60"
                  rows="4"
                ></textarea>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.actividadrealizada"
                >
                  {{ errors.actividadrealizada[0] }}
                </div>
              </div>
            </div>
            <!-- 4 row -->
          </div>
          <div class="modal-footer justify-content-between">
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Salir
              </button>
              <button
                type="button"
                v-on:click="createActividad()"
                class="btn btn-primary"
                id="btn-guardar"
                style="display: none"
              >
                Guardar
              </button>
              <button
                type="button"
                v-on:click="update(crearactividad.id)"
                class="btn btn-primary"
                id="btn-update"
                style="display: none"
              >
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!--VENTANA MODAL ASIGNAR CARGO-->

    <div class="modal fade" id="modal-cargo">
      <div class="modal-dialog modal-xs">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Asignar Cargo</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-9">
                <label>Cargo:</label>
                <select v-model="cargoparaasignar" class="form-control">
                  <option
                    v-for="asignarcargo in cargos"
                    :key="asignarcargo.id"
                    v-bind:value="{ id: asignarcargo.id }"
                  >
                    {{ asignarcargo.nombre_cargo }}
                  </option>
                </select>
                <div class="mensajealerta" v-if="errors && errors.cargo">
                  {{ errors.cargo[0] }}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Salir
            </button>
            <button
              type="button"
              v-on:click="AsignarcargoInge()"
              class="btn btn-primary"
              id="btn-guardar-cargo"
              style="display: none"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="btn-update-cargo"
              style="display: none"
              v-on:click="updateCargo()"
            >
              Actualizar
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--VENTANA MODAL ASIGNAR CARGO-->
  </div>
</template>
<script>
import datatables from "datatables.net";
export default {
  props: ["mediosolicitud", "lugares", "tipoactividad", "servicios"],
  data() {
    return {
      indice:'',
      tablactividades: [],
      cargos: [],
      tiposactividades: [],
      mediossolicitudes: [],
      crearactividad: {
        id_tipos: "31",
        fecha_solicitud: "",
        fecha_atencion: "",
        hora_atencion: "",
        fecha_finalactividad: "",
        id_mediosolicitud: "",
        solicitante: "",
        id_servicios: "",
        id_lugares: "",
        actividadsolicitada: "",
        actividadrealizada: "",
        estadoactividad: "1",
      },
      cargoparaasignar: "",
      cargoasignado: "",
      errors: {},
    };
  },
  mounted() {
    this.validositienecargo();
    this.actividadescreadas();    
  },
  computed: {
    orderedTablacapacitaciones: function () {
      return _.orderBy(this.tablacapacitaciones, "id");
    },
  },
  methods: {
    validositienecargo() {
      axios.get("validositienecargo").then((response) => {
        if (response.data != 1) {
          this.cargoasignado = response.data.nombre_cargo;
        } else {
          $("#modal-cargo").modal();
          $("#btn-update-cargo").hide();
          $("#btn-guardar-cargo").show();
          this.getcargos();
        }
      });
    },
    actividadescreadas() {
      axios
        .get("consultactividades")
        .then((response) => {
          this.tablactividades = response.data;
          this.tabla();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    tabla() {
      $(function () {
        $("#example").DataTable();
      });
    },
    getcargos() {
      axios.get("obtenercargos").then((response) => {
        this.cargos = response.data;
      });
    },
    AsignarcargoInge() {
      axios
        .post("asignarcargoinge", {
          cargoparaasignar: this.cargoparaasignar.id,
        })
        .then((response) => {
          this.validositienecargo();
          $("#modal-cargo").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "success",
            title: "Cargo Asignado",
          });
        });
    },
    editarcargo() {
      $("#modal-cargo").modal();
      this.getcargos();
      $("#btn-guardar-cargo").hide();
      $("#btn-update-cargo").show();
    },
    updateCargo() {
      axios
        .post("updatecargoinge", { cargoparaasignar: this.cargoparaasignar.id })
        .then((response) => {
          this.validositienecargo();
          $("#modal-cargo").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          $("#btn-update").hide();
          this.limpiar();
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "success",
            title: "Cargo Actualizado",
          });
        });
    },
    openmodalcrear() {
      $("#btn-guardar").show();
      $("#btn-update").hide();
      $("#modal-xl").modal();
      let yourDate = new Date();
      yourDate = yourDate.toISOString().split("T")[0];
      this.crearactividad.fecha_atencion = yourDate;
      this.crearactividad.fecha_solicitud = yourDate;

      this.crearactividad.fecha_finalactividad = yourDate;
      this.limpiar();
    },
    createActividad() {
      $("#btn-guardar").html("Guardando...");
      $("#btn-guardar").css("background", "orange");
      axios
        .post("createactividad", this.crearactividad)
        .then((response) => {
          $("#btn-guardar").html("Guardar");
          $("#btn-guardar").css("background", "#0069d9");
          // this.actividadescreadas();
          $("#modal-xl").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          $("#btn-update").hide();
          this.limpiar();
          this.tablactividades.unshift(response.data);
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "success",
            title: "Tema creado",
          });
        })
        .catch((error) => {
          if (error.response.status == 422) {
            $('#btn-guardar').html('Guardar');
            $("#btn-guardar").css("background","#0069d9");
            this.errors = error.response.data.errors;
            const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "warning",
            title: "Existe campos sin diligenciar",
          });
          } else {
            if (error == 419) {
              location.reload();
            } else {
              alertaerror();
            }
          }
        });
    },
    editar(id,index) {
      this.indice = index;
      axios
        .get("editaractividad/" + id)
        .then((response) => {
          this.crearactividad = response.data;
          $("#btn-guardar").hide();
          $("#btn-update").show();
          $("#modal-xl").modal();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    update(id) {
      $("#btn-update").html("Actualizando...");
      $("#btn-update").css("background", "orange");
      axios
        .post("updateactividad/" + id, this.crearactividad)
        .then((response) => {
          $("#btn-update").html("Actualizar");
          $("#btn-update").css("background", "#0069d9");
         this.tablactividades[this.indice].fecha_solicitud = response.data.fecha_solicitud;
         this.tablactividades[this.indice].solicitante = response.data.solicitante;
         this.tablactividades[this.indice].actividadsolicitada = response.data.actividadsolicitada;
         this.tablactividades[this.indice].estadoactividad = response.data.estadoactividad;
          $("#modal-xl").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "warning",
            title: "Tema Actualizado",
          });
        })
        .catch((error) => {
          $("#btn-update").html("Actualizar");
          $("#btn-update").css("background", "#0069d9");
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    eliminar(id,index) {
      Swal.fire({
        title: "Esta segur@?",
        text: "Se va eliminar el registro",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .get("eliminaractividad/" + id)
            .then((response) => {
              if ((response.data = 1)) {
                this.tablactividades.splice(index,1);
              }
            })
            .catch((error) => {
              if (error == 419) {
                location.reload();
              } else {
                alertaerror();
              }
            });
          Swal.fire("Eliminado!", "El tema fué eliminado.", "success");
        }
      });
    },
    limpiar() {
      this.crearactividad.hora_atencion = "";
      this.crearactividad.id_mediosolicitud = "";
      this.crearactividad.solicitante = "";
      this.crearactividad.id_servicios = "";
      this.crearactividad.id_lugares = "";
      this.crearactividad.actividadsolicitada = "";
      this.crearactividad.actividadrealizada = "";
    },
  },
};
</script>