<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title"></h3>
            <button
              type="button"
              class="btn btn-success btn-xs"
              style="width: 100%"
              v-on:click="openmodalcrear()"
            >
              CREAR
            </button>
          </div>
        </div>
        <div class="card-body">
          <table
            id="example"
            class="table table-striped table-bordered table-responsiveF"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th style="width:10px">#</th>
                <th>Fecha</th>
                <th>Tema</th>                
                <th>Servicio</th>
                <th>Tipo</th>
                <th>Link</th>
                <th>Codigo</th>
                <th style="width: 60px">Opc.</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in tablacapacitaciones"
                :key="item.id"
              > <td>{{ index+1 }}</td>
                <td>{{ item.fecha_capacitacion }}</td>
                <td>{{ item.tema }}</td>
                <td>{{ item.nombre_servicio }}</td>
                <td v-if="item.tipo == 'P'">Presencial</td>
                <td v-if="item.tipo == 'V'">Virtual</td>
                <td v-if="item.codigo">
                  <a
                    v-bind:href="
                      'http://formularios.hus.gov.co/link/' + item.codigo
                    "
                    target="black"
                    >http://formularios.hus.gov.co/link/{{ item.codigo }}</a
                  >
                </td>
                <td>{{ item.codigo }}</td>
                <td v-if="item.codigo">
                  <button
                    class="btn btn-warning btn-xs"
                    title="Editar Tema"
                    v-on:click="editar(item.id,index)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-xs"
                    title="Eliminar Tema"
                    v-on:click="eliminar(item.id,index)"
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                  <button
                    class="btn btn-success btn-xs"
                    title="Ver Detalle Tema"
                    v-on:click="viewmodal(item.id)"
                  >
                    <i class="fas fa-folder-open"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Tema</th>                
                <th>Servicio</th>
                <th>Tipo</th>
                <th>Link</th>
                <th>Codigo</th>
                <th>Opc.</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-xl">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Información General</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-7">
                <label>Tema:</label>
                <input
                  type="text"
                  v-model="crearcapacitacion.tema"
                  class="form-control"
                />
                <div class="mensajealerta" v-if="errors && errors.tema">
                  {{ errors.tema[0] }}
                </div>
              </div>
              <div class="col-md-5">
                <label>Responsable:</label>
                <input
                  type="text"
                  v-model="crearcapacitacion.responsable"
                  class="form-control"
                />
                <div class="mensajealerta" v-if="errors && errors.responsable">
                  {{ errors.responsable[0] }}
                </div>
              </div>
              <div class="col-sm-4 col-md-6">
                <label>Servicio:</label>
                <select
                  v-model="crearcapacitacion.servicio_cabecera"
                  class="form-control"
                >
                  <option
                    v-for="servicio in servicios"
                    :key="servicio.id"
                    v-bind:value="servicio.id"
                  >
                    {{ servicio.nombre_servicio }}
                  </option>
                </select>
                <div
                  class="mensajealerta"
                  v-if="errors && errors.servicio_cabecera"
                >
                  {{ errors.servicio_cabecera[0] }}
                </div>
              </div>
              <!--col raiz-->
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Tipo Tema:</label>
                    <select
                      v-model="crearcapacitacion.tiporc"
                      class="form-control"
                    >
                      <option value=""></option>
                      <option value="R">Reunión</option>
                      <option value="C">Capacitación</option>
                    </select>
                    <div class="mensajealerta" v-if="errors && errors.tiporc">
                      {{ errors.tiporc[0] }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label>Tipo:</label>
                    <select
                      v-model="crearcapacitacion.tipo"
                      class="form-control"
                    >
                      <option value=""></option>
                      <option value="P">Presencial</option>
                      <option value="V">Virtual</option>
                    </select>
                    <div class="mensajealerta" v-if="errors && errors.tipo">
                      {{ errors.tipo[0] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label>Fecha:</label>
                <input
                  type="date"
                  v-model="crearcapacitacion.fecha_capacitacion"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.fecha_capacitacion"
                >
                  {{ errors.fecha_capacitacion[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Hora Inicio:</label>
                <input
                  type="time"
                  v-model="crearcapacitacion.horainicial"
                  class="form-control"
                />
                <div class="mensajealerta" v-if="errors && errors.horainicial">
                  {{ errors.horainicial[0] }}
                </div>
              </div>
              <div class="col-md-2">
                <label>Hora Final:</label>
                <input
                  type="time"
                  v-model="crearcapacitacion.horafinal"
                  class="form-control"
                />
                <div class="mensajealerta" v-if="errors && errors.horafinal">
                  {{ errors.horafinal[0] }}
                </div>
              </div>
              <div class="col-md-6">
                <label>Link Evaluación:</label>
                <input
                  type="text"
                  v-model="crearcapacitacion.linkevaluacion"
                  class="form-control"
                />
                <div
                  class="mensajealerta"
                  v-if="errors && errors.linkevaluacion"
                >
                  {{ errors.linkevaluacion[0] }}
                </div>
              </div>
            </div>
            <!-- 4 row -->
          </div>
          <div class="modal-footer justify-content-between">
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Salir
              </button>
              <button
                type="button"
                v-on:click="capacitacion()"
                class="btn btn-primary"
                id="btn-guardar"
                style="display: none"
              >
                Guardar
              </button>
              <button
                type="button"
                v-on:click="update(crearcapacitacion.id)"
                class="btn btn-primary"
                id="btn-update"
                style="display: none"
              >
                Actualizar
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-infodetalle">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Información detalle</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table
              class="table-striped table-bordered table-responsiveF"
              id="tablamodal"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Documento</th>
                  <th>Cargo</th>
                  <th>Empresa</th>
                  <th>Servicio</th>
                  <th>firma</th>
                </tr>
              </thead>
              <tbody style="font-size: 13px">
                <tr v-for="viewmodal in infoviewmodal" :key="viewmodal.id">
                  <td>{{ viewmodal.nombres }} {{ viewmodal.apellidos }}</td>
                  <td>{{ viewmodal.documento }}</td>
                  <td>{{ viewmodal.nombre_cargo }}</td>
                  <td>{{ viewmodal.nombre_empresa }}</td>
                  <td>{{ viewmodal.nombre_servicio }}</td>
                  <td>
                    <img
                      v-bind:src="
                        'data:image/jpeg;base64,' + viewmodal.firmaEntrega
                      "
                      style="width: 100px"
                    />
                    <!-- <img v-bind:src="'data:image/jpeg;base64,'+viewmodal.firmaEntrega" style="width:100px"/> -->
                  </td>
                </tr>
              </tbody>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer justify-content-between">
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Salir
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
import datatables from "datatables.net";
export default {
  data() {    
    return {
      tablacapacitaciones: [],      
      servicios: [],
      infoviewmodal: [],
      indice:"",
      crearcapacitacion: {
        tema: "",
        responsable:"",
        servicio_cabecera: "",
        fecha_capacitacion: "",
        horainicial: "",
        horafinal: "",
        tipo: "",
        tiporc: "",
        linkevaluacion: "",
      },
      errors: {},
    };
  },
  mounted() {
    this.capacitacionescreadas();
    this.getservicios();
  },
  computed: {
    // orderedTablacapacitaciones: function () {
    //   return _.orderBy(this.tablacapacitaciones, "id");
    // },
  },
  methods: {
    capacitacionescreadas() {
      axios
        .get("consultacapacitaciones")
        .then((response) => {
          console.log(response.data);
          this.tablacapacitaciones = response.data;
          this.tabla();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    tabla() {
      $(function () {
        $('#example').DataTable();
      });
    },
    openmodalcrear() {
      $("#btn-guardar").show();
      $("#btn-update").hide();
      $("#modal-xl").modal();
      this.limpiar();
    },
    capacitacion() {
      $("#btn-guardar").html("Guardando...");
      $("#btn-guardar").css("background", "orange");
      axios
        .post("crearcapacitacion", this.crearcapacitacion)
        .then((response) => {
          $("#btn-guardar").html("Guardar");
          $("#btn-guardar").css("background", "#0069d9");
         // this.tablacapacitaciones.unshift(response.data);
          this.capacitacionescreadas();
          $("#modal-xl").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          $("#btn-update").hide();
          this.limpiar();
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "success",
            title: "Tema creado",
          });
        })
        .catch((error) => {
          $("#btn-guardar").html("Guardar");
          $("#btn-guardar").css("background", "#0069d9");
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else {
            if (error == 419) {
              location.reload();
            } else {
              alertaerror();
            }
          }
        });
    },    
    getservicios() {
      axios.get("servicios").then((response) => {
        this.servicios = response.data;
        // console.log(response.data);
      });
    },
    editar(id,index) {     
      axios
        .get("editarcapacitacion/" + id)
        .then((response) => {
          this.indice= index;
          this.crearcapacitacion = response.data;
          console.log(response.data);
          $("#btn-guardar").hide();
          $("#btn-update").show();
          $("#modal-xl").modal();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    update(id) {
      $("#btn-update").html("Actualizando...");
      $("#btn-update").css("background", "orange");
      axios
        .post("updatecapacitacion/" + id, this.crearcapacitacion)
        .then((response) => {
          console.log(response.data);
          this.capacitacionescreadas();
          $("#btn-update").html("Actualizar");
          $("#btn-update").css("background", "#0069d9");
          $("#modal-xl").modal("toggle");
          $(".modal-backdrop").remove();
          $("#modal").modal().hide();
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          Toast.fire({
            icon: "warning",
            title: "Tema Actualizado",
          });
        })
        .catch((error) => {
          $("#btn-update").html("Actualizar");
          $("#btn-update").css("background", "#0069d9");
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    viewmodal(id) {
      $("#tablamodal").dataTable().fnDestroy();
      axios
        .get("viewmodaldetallecabecera/" + id)
        .then((response) => {
          $(function () {
            $("#tablamodal").DataTable();
          });
          this.infoviewmodal = response.data;
          console.log(response.data);
          $("#modal-infodetalle").modal();
        })
        .catch((error) => {
          if (error == 419) {
            location.reload();
          } else {
            alertaerror();
          }
        });
    },
    eliminar(id,index) {
      Swal.fire({
        title: "Esta segur@?",
        text: "Se va eliminar el registro",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .get("eliminarcapacitacion/" + id)
            .then((response) => {
              if ((response.data = 1)) {
               this.tablacapacitaciones.splice(index,1);
              }
            })
            .catch((error) => {
              if (error == 419) {
                location.reload();
              } else {
                alertaerror();
              }
            });
          Swal.fire("Eliminado!", "El tema fué eliminado.", "success");
        }
      });
    },
    limpiar() {
      this.crearcapacitacion.tema = "";
      this.crearcapacitacion.servicio_cabecera = "";
      this.crearcapacitacion.fecha_capacitacion = "";
      this.crearcapacitacion.horainicial = "";
      this.crearcapacitacion.horafinal = "";
      this.crearcapacitacion.tipo = "";
      this.crearcapacitacion.tiporc = "";
      this.crearcapacitacion.linkevaluacion = "";
    },
  },
};
</script>